.form {
  display: flex;
  flex-direction: column;
  > p {
    font-size: 32px;
    width: 80%;
    margin: 0 auto;
  }
}

.rules {
  font-size: 12px;
  color: rgba(118, 118, 118, 1);
  text-align: start;
}
.invalid {
  color: red;
}
.valid {
  color: green;
}
